{% extends 'myadmin/index.html' %}

{% block title %}
<title>后台商品列表</title>
{% endblock %}


{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商品列表</div>

                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="{% url 'myadmin_user_add' %}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select name="types" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                              <option value="all" {% if request.GET.types == 'all' %} selected {% endif %}>全局搜索</option>
                              <option value="phone" {% if request.GET.types == 'phone' %} selected {% endif %}>手机号</option>
                              <option value="id" {% if request.GET.types == 'id' %} selected {% endif %}>ID</option>
                              <option value="nikename" {% if request.GET.types == 'nikename' %} selected {% endif %}>昵称</option>
                              <option value="email" {% if request.GET.types == 'email' %} selected {% endif %}>邮箱</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" name="keywords" value="{{ request.GET.keywords }}" class="am-form-field ">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                              </span>
                        </div>
                    </div>
                    </form>


                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>缩略图</th>
                                    <th>商品名</th>
                                    <th>标题</th>
                                    <th>所属分类</th>
                                    <th>价格</th>
                                    <th>库存</th>
                                    <th>销量</th>
                                    <th>点击量</th>
                                    <th>状态</th>
                                    <th>注册时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for v in goodslist %}
                                <tr>
                                    <td class="am-text-middle">{{ v.id }}</td>
                                    <td>
                                        <img src="{{ v.pic_url }}" class="tpl-table-line-img" alt="">
                                    </td>
                                    <td class="am-text-middle">{{ v.goodsname }}</td>
                                    <td class="am-text-middle">{{ v.title }}</td>
                                    <td class="am-text-middle">{{ v.cateid.name }}</td>
                                    <td class="am-text-middle">{{ v.price }}</td>
                                    <td class="am-text-middle">{{ v.goodsnum }}</td>
                                    <td class="am-text-middle">{{ v.ordernum }}</td>
                                    <td class="am-text-middle">{{ v.clicknum }}</td>
                                    <td class="am-text-middle">
                                        {% if v.status == 0 %}
                                            新品
                                        {% elif v.status == 1 %}
                                            推荐
                                        {% elif v.status == 2 %}
                                            下架
                                        {% endif %}
                                    </td>
                                    <td class="am-text-middle">{{ v.addtime }}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'myadmin_user_edit' %}?uid={{ v.id }}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
            
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">

                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <!-- <li class="am-disabled"><a href="#">«</a></li> -->
                                <!-- <li class="am-active"><a href="#">1</a></li> -->
                                
                                <!-- <li><a href="#">»</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.select-status').change(function(){
        // 获取当前元素的 值
        var status = $(this).val()
        // 获取当前元素的 id
        var uid = $(this).attr('uid')

        // 发送ajax请求.修改状态
        $.get('{% url 'myadmin_user_set_status' %}',{'uid':uid,'status':status},function(data){
            // 判断当前的返回值
            if(data['code'] == 0){
                alert(data['msg'])
            }
        },'json')
        

    })
</script>
{% endblock %}